header {
    grid-template-areas:
    "section-1"
    "section-3"
    "section-2"
    "section-4";
}
header .section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1 img {
    position: static;
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}
header .section-2 {
    width: 100%;
}
header .section-2 nav {
    width: 100%;
}
.section-2__main-nav {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, max-content);
    justify-items: center;
}
.section-2__main-nav li {
    margin: 0;
    justify-self: center;
}
.section-2__main-nav li a {
    padding: 1rem 0 1rem 0;
    width: 12rem;
}
.section-3 {
    width: 100%;
    justify-content: center;
}
.section-3__input-container {
    width: 80%;
    justify-content: space-evenly;
}
.section-3__input-container input, .section-3__input-container:focus-within input {
    width: 80%;
}
.section-3__input-container select {
    margin-right: 0;
}
.section-3__input-container input {
    padding: 0;
}
.section-3 button {
    width: 10%;
}
header .section-4 {
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
}
.section-4__linea {
    width: 7%;
}
